@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity is {IsAuthenticated: true})
    {
    }
    else
    {
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
    }
</div>