@page
@using Newtonsoft.Json
@using manager.Pages.Shared
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model manager.Pages.Board.Index

@{
    ViewData["Title"] = "Boards";
}

@if (TempData["ErrorMessage"] != null)
{
    <partial
        name="Shared/_Notification"
        model='@(JsonConvert.DeserializeObject<NotificationModel>(TempData["ErrorMessage"]?.ToString() ?? string.Empty))'/>
}

<div class="text-center">
    <h1 class="display-4">Your Boards</h1>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <form asp-page="Board">
                <td>
                    <input asp-for="Name" class="form-control" aria-required="true">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </td>
                <td>
                    <button type="submit" class="btn btn-outline-dark">
                        Create
                    </button>
                </td>
            </form>
        </tr>
        @foreach (var board in Model.Boards)
        {
            <tr>
                <th scope="row">@board.Name</th>
                <td>
                    <a asp-page="Board" asp-route-id="@board.BoardId" class="btn btn-outline-dark">Open</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial"/>
}